.categories-list {
  height: 100%;
  width: 100%;
  ul {
    padding-top: 2vh;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    li {
      list-style: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
