.product {
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 50%;
  text-align: center;
  .title {
    font-size: calc(0.8em + 1vh);
  }
  .preview {
    height: 10vh;
    width: auto;
  }
}
